<% provide(:title,"編集") %>

<div class="container">
  <div class="main">
    <h2>編集する</h2>
    <%= form_tag("/articles/#{@article.id}/update") do %>
      <div class="form"> 
        <%= render 'articles/article_form'%>
        <input type="submit" class="btn btn-success" value="保存">
      </div>
    <% end %>
  </div>
</div>