<div class="main posts-index">
  <div class="container">
    <% @articles.each do |article| %>
      <div class="articles-index-item">
      	
		<div class="article-title">
      		<%= link_to(article.title , "/articles/#{article.id}" ) %>
     	 </div>
     	 <div class="article-user-name">
     	 	<%= link_to gravatar_for(article.user,size: 50),article.user %>
     	 	<%= article.user.name %>
     	 </div>


      </div>
    <% end %>
  </div>
</div>