<% provide(:title,"新規投稿") %>

<div class="container">
	<div class="main">
		<h2>投稿する</h2>
		<%= form_tag("/articles/create") do %>
			<div class="form">
				<%= render 'articles/article_form'%>	
				<input type="submit" class="btn btn-success" value="投稿">
			</div>
		<% end %>
	</div>
</div>
