<% provide(:title, "ストック一覧") %>

<div class="container">
	<div class="main">
		<h2><span class="fa fa-folder" style="color:limegreen"></span> ストック一覧</h2>
			<%= render 'users/stocks_index' %>
	</div>
</div>

