<div class="container">
	<div clss="main top-main">
		<div class="top-message">
			<h1>Hello hackers!</h1>
			<p>Qiitaは、エンジニアリングに関する知識を記録・共有するためのサービスです。コードを書いていて気づいたことや、自分がハマったあの仕様について、他のエンジニアと知見を共有しましょう。</p>
		</div>
	</div>
</div>