@import "bootstrap-sprockets";
@import "bootstrap";


/* universal */

body {
  margin: 0;
  background-color:#FFFFF0;
  
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  
}

p {
  font-size: 1.0em;
  line-height: 1.7em;
}

li{
  list-style: none;
  
}





/* ヘッダー ================================ */
header{
  height: 65px;
  width: 100%;
  background-color: #32CD32;
  position: fixed;
}


.heder-logo{
  font-size: 28px;
  float: left;
  padding: 10px;
  color:white;
}

.header-left{
  float: left;  
}

.header-left a{
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
}

.header-left a:hover{
  background-color: #98FB98;
}


.header-right{
  float: right;
  margin-right: -25px;
}

.header-right a{
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
}

.header-right a:hover {
  background-color: #98FB98;
}



/* top-message */

.top-wrapper{
  padding-top: 180px;
  text-align: center;
}




/* articles */

.articles {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
.articles-show-item{
  
}

.article-user-name{
  
}

  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;

    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}


/* forms */

input, textarea,select, .uneditable-input {
  
  border: 1px solid #bbb;
  width: 100%;
  height: 50px;
  margin-bottom: 5px;
  color:black;
  
}

textarea{
  height:100px;
}

.form-search{
  width:80%;
}



#error_explanation{
  color: red;
  ul{
    color:red;
    margin: 0 0 30px 0;
  }
}



.form-error {
  color: #ff4d75;
}


.label {
  
  background-color: #F0F8FF;
  margin-right: 10px;
}


.btn {
  padding: 8px 24px;
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0px 8px #008000;
}


.btn:active{
 
  position: relative;
  top:6px;
  box-shadow: 0px 2px #008000;
}



/* フラッシュ ================================ */
.flash {
  float:center;
  padding: 3px 0;
  color: red;
  background: pink;
  text-align: center;
  //position: absolute;
  top: 150px;
  z-index: 10;
  width: 30%;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
}
